In [63]:
# Import dependencies
import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt
from pathlib import Path

In [64]:
# Read in CSV
datafile = Path("Covid_Data_csv.csv")
original_df = pd.read_csv(datafile)
original_df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [65]:
# 99 and 97 are used as values when data wasn't collected. 9999-99-99 is used at date of death when the patient didn't die. Replace these values with 0 so they won't interfere in any summing done. 
original_df["INTUBED"].replace([97, 98, 99], 0, inplace=True)
original_df["PREGNANT"].replace([97, 98, 99], 0, inplace=True)
original_df["USMER"].replace([97, 98, 99], 0, inplace=True)
original_df["MEDICAL_UNIT"].replace([97, 98, 99], 0, inplace=True)
original_df["SEX"].replace([97, 98, 99], 0, inplace=True)
original_df["PATIENT_TYPE"].replace([97, 98, 99], 0, inplace=True)
original_df["PNEUMONIA"].replace([97, 98, 99], 0, inplace=True)
original_df["DIABETES"].replace([97, 98, 99], 0, inplace=True)
original_df["COPD"].replace([97, 98, 99], 0, inplace=True)
original_df["ASTHMA"].replace([97, 98, 99], 0, inplace=True)
original_df["INMSUPR"].replace([97, 98, 99], 0, inplace=True)
original_df["HIPERTENSION"].replace([97, 98, 99], 0, inplace=True)
original_df["OTHER_DISEASE"].replace([97, 98, 99], 0, inplace=True)
original_df["CARDIOVASCULAR"].replace([97, 98, 99], 0, inplace=True)
original_df["OBESITY"].replace([97, 98, 99], 0, inplace=True)
original_df["RENAL_CHRONIC"].replace([97, 98, 99], 0, inplace=True)
original_df["TOBACCO"].replace([97, 98, 99], 0, inplace=True)
original_df["CLASIFFICATION_FINAL"].replace([97, 98, 99], 0, inplace=True)
original_df["ICU"].replace([97, 98, 99], 0, inplace=True)
original_df["DATE_DIED"].replace(["9999-99-99"], 0, inplace=True)
original_df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,0,1,65,2,2,...,2,2,1,2,2,2,2,2,3,0
1,2,1,2,1,03/06/2020,0,1,72,0,2,...,2,2,1,2,2,1,1,2,5,0
2,2,1,2,2,09/06/2020,1,2,55,0,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,0,2,53,2,2,...,2,2,2,2,2,2,2,2,7,0
4,2,1,2,1,21/06/2020,0,2,68,0,1,...,2,2,1,2,2,2,2,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,0,0,2,40,0,2,...,2,2,2,2,2,2,2,2,7,0
1048571,1,13,2,2,0,2,2,51,0,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,0,0,2,55,0,2,...,2,2,2,2,2,2,2,2,7,0
1048573,2,13,2,1,0,0,2,28,0,2,...,2,2,2,2,2,2,2,2,7,0
1048574,2,13,2,1,0,0,2,52,0,2,...,2,2,2,2,2,2,2,2,7,0

In [66]:
# Sum pre-exisitng conditions and add to empty column (disease only, excludes pregnancy and tobacco use)
original_df["Pre-Existing Conditions Score"] = ""
selected_columns = ["DIABETES", "COPD","ASTHMA","INMSUPR","HIPERTENSION","OTHER_DISEASE", "CARDIOVASCULAR", "OBESITY", "RENAL_CHRONIC"]
for index, row in original_df.iterrows():
    original_df.loc[index, 'Pre-Existing Conditions Score'] = row[selected_columns].sum()

original_df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Pre-Existing Conditions Score
0,2,1,1,1,03/05/2020,0,1,65,2,2,...,2,1,2,2,2,2,2,3,0,17
1,2,1,2,1,03/06/2020,0,1,72,0,2,...,2,1,2,2,1,1,2,5,0,15
2,2,1,2,2,09/06/2020,1,2,55,0,1,...,2,2,2,2,2,2,2,3,2,17
3,2,1,1,1,12/06/2020,0,2,53,2,2,...,2,2,2,2,2,2,2,7,0,18
4,2,1,2,1,21/06/2020,0,2,68,0,1,...,2,1,2,2,2,2,2,3,0,16

In [73]:
#Export dataframe to CSV to don't have to run above cell everytime - takes a very long time to sum all the rows
original_df.to_csv("Covid_Data_With_Sum.csv", index = False)

In [74]:
#Read new CSV back into a dataframe
datafile2 = Path("Covid_Data_With_Sum.csv")
clean_df = pd.read_csv(datafile2, low_memory=False)
clean_df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Pre-Existing Conditions Score
0,2,1,1,1,03/05/2020,0,1,65,2,2,...,2,1,2,2,2,2,2,3,0,17
1,2,1,2,1,03/06/2020,0,1,72,0,2,...,2,1,2,2,1,1,2,5,0,15
2,2,1,2,2,09/06/2020,1,2,55,0,1,...,2,2,2,2,2,2,2,3,2,17
3,2,1,1,1,12/06/2020,0,2,53,2,2,...,2,2,2,2,2,2,2,7,0,18
4,2,1,2,1,21/06/2020,0,2,68,0,1,...,2,1,2,2,2,2,2,3,0,16

In [75]:
#Change date died to 1 if died so data can be sorted on binary response (Lambda function courtesy of Dave Melillo)
clean_df['Patient Died'] = clean_df['DATE_DIED'].apply(lambda x: 0 if x == 0 else 1)
clean_df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Pre-Existing Conditions Score,Patient Died
0,2,1,1,1,03/05/2020,0,1,65,2,2,...,1,2,2,2,2,2,3,0,17,1
1,2,1,2,1,03/06/2020,0,1,72,0,2,...,1,2,2,1,1,2,5,0,15,1
2,2,1,2,2,09/06/2020,1,2,55,0,1,...,2,2,2,2,2,2,3,2,17,1
3,2,1,1,1,12/06/2020,0,2,53,2,2,...,2,2,2,2,2,2,7,0,18,1
4,2,1,2,1,21/06/2020,0,2,68,0,1,...,1,2,2,2,2,2,3,0,16,1

In [76]:
#Update column names
clean_df.rename(columns = {'USMER':"Unit Level", "MEDICAL_UNIT": "Institution Type", "PATIENT_TYPE": "Home vs Admit", "DATE_DIED": "Date Died", "SEX": "Sex", 
                           "INTUBED": "Intubated", "PNEUMONIA": "Pneumonia", "AGE": "Age", "PREGNANT": "Pregnant", "DIABETES": "Diabetes", "HIPERTENSION": "Hypertension", "OTHER_DISEASE": "Other Disease",
                          "CARDIOVASCULAR": "Cardiovascular", "OBESITY": "Obesity", "RENAL_CHRONIC": "Renal", "TOBACCO": "Tobacco Use", "CLASIFFICATION_FINAL": "COVID Test Result"}, inplace = True)
clean_df.head()

,Unit Level,Institution Type,Sex,Home vs Admit,Date Died,Intubated,Pneumonia,Age,Pregnant,Diabetes,...,Hypertension,Other Disease,Cardiovascular,Obesity,Renal,Tobacco Use,COVID Test Result,ICU,Pre-Existing Conditions Score,Patient Died
0,2,1,1,1,03/05/2020,0,1,65,2,2,...,1,2,2,2,2,2,3,0,17,1
1,2,1,2,1,03/06/2020,0,1,72,0,2,...,1,2,2,1,1,2,5,0,15,1
2,2,1,2,2,09/06/2020,1,2,55,0,1,...,2,2,2,2,2,2,3,2,17,1
3,2,1,1,1,12/06/2020,0,2,53,2,2,...,2,2,2,2,2,2,7,0,18,1
4,2,1,2,1,21/06/2020,0,2,68,0,1,...,1,2,2,2,2,2,3,0,16,1

In [77]:
#Remove patients that did not have a postive covid test
covid_pos = clean_df.loc[clean_df["COVID Test Result"] < 4]
covid_pos.head()

,Unit Level,Institution Type,Sex,Home vs Admit,Date Died,Intubated,Pneumonia,Age,Pregnant,Diabetes,...,Hypertension,Other Disease,Cardiovascular,Obesity,Renal,Tobacco Use,COVID Test Result,ICU,Pre-Existing Conditions Score,Patient Died
0,2,1,1,1,03/05/2020,0,1,65,2,2,...,1,2,2,2,2,2,3,0,17,1
2,2,1,2,2,09/06/2020,1,2,55,0,1,...,2,2,2,2,2,2,3,2,17,1
4,2,1,2,1,21/06/2020,0,2,68,0,1,...,1,2,2,2,2,2,3,0,16,1
5,2,1,1,2,0,2,1,40,2,2,...,2,2,2,2,2,2,3,2,18,1
6,2,1,1,1,0,0,2,64,2,2,...,2,2,2,2,2,2,3,0,18,1

In [82]:
#Make a smaller dataframe for analysis
preexisting_df = covid_pos[["Sex", "Intubated", "Pneumonia", "Age", "Diabetes", "Hypertension", "Other Disease", 
                            "Cardiovascular", "Obesity", "Renal", "ICU", "Pre-Existing Conditions Score", "Patient Died" ]]
preexisting_df.head()

,Sex,Intubated,Pneumonia,Age,Diabetes,Hypertension,Other Disease,Cardiovascular,Obesity,Renal,ICU,Pre-Existing Conditions Score,Patient Died
0,1,0,1,65,2,1,2,2,2,2,0,17,1
2,2,1,2,55,1,2,2,2,2,2,2,17,1
4,2,0,2,68,1,1,2,2,2,2,0,16,1
5,1,2,1,40,2,2,2,2,2,2,2,18,1
6,1,0,2,64,2,2,2,2,2,2,0,18,1

In [83]:
#Determine relationship between death and pre-existing conditions (1 = Yes, 2 = No so 18 would be no to all pre-existing conditions, lower the value, more pre-existing conditions)
num_preexisting = preexisting_df.groupby("Pre-Existing Conditions Score")
count_scores = num_preexisting["Pre-Existing Conditions Score"].count()
count_scores

Pre-Existing Conditions Score
0        971
1         90
2        122
3         13
4         36
5          7
6         31
7         11
8         18
9         60
10        45
11        69
12       235
13       930
14      4186
15     17043
16     45474
17     96978
18    225660
Name: Pre-Existing Conditions Score, dtype: int64